/*Base Styles*/

html, body {
    height: 100%;
    background-color: #1E1E1E;
}
button {
    background-color: #2C3E50;
    border-color: #2C3E50;
}
footer {
    display: flex;
    justify-content: center;
}


/*Toolbar Styles*/

.func_button:active {
    background-color: #0e539c;
    border-color: #34495E;
}
.func_button_clicked {
    background-color: #2C3E50;
    border-color: #b4bfcb;
    border-width: 2px;
}
.toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.toolbar button {
    background-color: #2C3E50;
    border-radius: 10px;
    padding: 1.2vh 1.2vw;
    color: #E0E0E0;
}
#clear {
    background-color: rgb(255, 255, 0);
    color: black;
}


/*Footer Styles*/

.delete-button {
    background: #FF3B30;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    max-width: 40vw;
}
.delete-button:hover {
    background: #ff5252;
}


/*Container Styles*/

.container {
    padding: 1rem;
}
@media (max-width: 600px) {
    .container {
        padding: 0.5rem;
    }
}
.container header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}
.container header button {
    padding: 1vh 1vw;
}


/*Media List Styles*/

.media-list-item {
    background: #eefbff;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.list-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    column-gap: 0.3rem;
}
.list-text-container #watchtime {
    min-width: fit-content;
}
.list-text-container .title {
    max-height: 1.7rem;
    overflow: hidden;
}
section::-webkit-scrollbar {
    display: none;
}
.mediasection {
    display: list-item;
    overflow-y: scroll;
    max-height: 60vh;
    margin-bottom: 0.5rem;
}
.base-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 2.7vh;
    color: #E0E0E0;
}
.media-list-item label {
    font-weight: 500;
    color: rgb(48, 47, 47);
}